server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root {{ static_site_dest_dir }}; # This is where your website lives!
    index index.html index.htm;

    server_name _; # Change this if you have a real domain name!

    location / {
        try_files $uri $uri/ =404;
    }

    # Optional: little custom error pages
    error_page 404 /404.html;
    location = /404.html {
        internal;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        internal;
    }
}
